@import "@/utils/variables.scss";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

::selection {
	color: black;
	background: white;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	color: rgb(255, 255, 255);
	font-weight: 400;
}

p, span, li {
	font-size: 18px;
	line-height: 30px;
}

h1, h2, h3 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 800;

	@media (max-width: $breakpoint-md) {
		font-size: 25px;
		line-height: 35px;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
  	background-color: #000000;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	margin-left: auto;
	margin-right: auto;

	padding: 0 30px;

	&.xl {max-width: $breakpoint-xl}
	&.wide {max-width: $breakpoint-wide}
}

[data-animate] {
	-webkit-transform: translate3d(0, 25px, 0);
	transform: translate3d(0, 25px, 0);
	-webkit-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
	opacity: 0;

	&.__animated {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

[data-animate-top] {
	transform: translateY(3rem);
	transition: 0.5s ease-out;
	opacity: 0;

	&.__animated {
		transform: translateY(0);
		opacity: 1;
	}
}

[data-animate-bottom] {
	transform: translateY(50px);
	transition: 0.5s ease-out;
	opacity: 0;

	&.__animated {
		transform: translateY(0);
		opacity: 1;
	}
}

[data-animate-right] {
transform: translateX(3rem);
	transition: 0.5s ease-out;
	opacity: 0;

	&.__animated {
		transform: translateX(0);
		opacity: 1;
	}
}

[data-animate-left] {
transform: translateX(-7rem);
	transition: 0.5s ease-out;
	opacity: 0;

	&.__animated {
		transform: translateX(0);
		opacity: 1;
	}
}

[data-animate-scale] {
	transform: scale(0);
	transition: 0.5s ease-out;

	&.__animated {
		transform: scale(1);
	}
}


.uppercase {
  	text-transform: uppercase;
}

main {
	margin-top: 100px;

	@media (max-width: $breakpoint-md) {
		margin-top: 170px;
	}
}