@import "../utils/variables.scss";

h2 {
	max-width: max-content;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.preview {
	&_inner {
		display: flex;
		flex-direction: column;
	}

	&_grid {
		display: grid;	
		grid-template-columns: 550px 1fr;
		gap: 150px;
	
		@media (max-width: $breakpoint-lg) {
			grid-template-columns: 350px 1fr;
			gap: 50px;
		}
		@media (max-width: $breakpoint-md) {
			grid-template-columns: 1fr;
		}
	}

	&_content {
		display: flex;
		flex-direction: column;
		gap: 30px;

		margin-top: 150px;
		
		@media (max-width: $breakpoint-md) {
			margin-top: 50px;
		}
	}

	&_image {
		label {
			font-size: 15px;
			font-style: italic;
		}
	}

	&-photo {
		width: 100%;

		display: block;
	
		object-fit: cover;
		object-position: 100% 0%;

		transition: all 0.4s ease-out;

		@media (max-width: $breakpoint-md) {
			width: 350px;
		}
		@media (max-width: $breakpoint-xsm) {
			width: 100%;
		}

		@media (min-width: $breakpoint-md) {
			&:hover {
				width: calc(100% + 20px);
			}
		}
	}
	
	&-title {
		align-self: flex-end;

		h1 {
			font-size: 50px;
			line-height: 50px;

			.line {
				font-size: inherit;
				line-height: inherit;
				display: block;
				margin-top: 5px;
			}
			.location {
				display: block;
				font-size: 15px;
				line-height: 25px;
				text-align: end;
			}
		}
	}
	&-description {
		align-self: flex-end;
		max-width: 650px;
		position: relative;
		top: -150px;
		backdrop-filter: blur(20px);
	
		@media (max-width: $breakpoint-xl) {
			padding: 20px;
			top: -100px;
		}
		@media (max-width: $breakpoint-lg) {
			position: static;
			padding: 0;
		}
		@media (max-width: $breakpoint-md) {
			margin-top: 50px;
		}

		p {

			&:first-of-type {
				margin-bottom: 20px;
			}
		}
	}
}

.past {
	padding: 100px 0 0;

	&_inner {
		display: flex;
		transition: all 0.3s ease;

		@media (max-width: $breakpoint-md) {
			flex-direction: column;
		}
	}

	&_item {
		width: 100%;
		transition: all 0.2s ease;
		background-color: $colorWhite;

		padding: 90px 70px 90px 70px;

		@media (max-width: $breakpoint-xl) {
			padding: 70px 40px 40px 40px;
		}
		@media (max-width: $breakpoint-md) {
			padding: 50px 30px;
		}

		p,span,h3 {
			transition: color 0.3s ease;
			color: $colorBlack;
		}

		p {
			margin-top: 30px;
			max-width: 600px;

			@media (max-width: $breakpoint-xl) {
				max-width: 430px;
			}
		}

		span {
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
		}

		@media (min-width: $breakpoint-md) {
			&:hover {
				width: calc(100% + 200px);
	
				@media (max-width: $breakpoint-xl) {
					width: calc(100% + 100px);
				}
	
				h3 {
					color: $colorBlue;
				}
			}
		}

		&.dark {
			padding: 90px 90px 90px 70px;

			@media (max-width: $breakpoint-xl) {
				padding: 70px 70px 70px 40px;
			}
			@media (max-width: $breakpoint-md) {
				padding: 30px 20px 30px 30px;
			}

			background-color: $colorBlack;
			border-top: 1px solid #e4e4e4;

			p,span,h3 {
				color: $colorWhite;
			}

			@media (min-width: $breakpoint-md) {
				&:hover {
					h3 {
						color: $colorPurple;
					}
				}
			}
		}
	}
}

.stack {
	padding: 150px 0 100px;
	background: center/cover url("/absolute-black.webp") no-repeat;
	background-attachment: fixed;

	h2 {
		max-width: 700px;
		display: inline-block;
	}

	&-list {
		margin: 50px 0 0 70px;
		padding-left: 17px;
		list-style: none;

		@media (max-width: $breakpoint-md) {
			margin: 50px 0 0 30px;
		}

		li {
			cursor: pointer;
			margin: 15px 0;

			font-size: 24px;

			max-width: max-content;

			&.scaling {
				transform: scale(0);
			}

			&::before {
				transition: all 0.3s ease;
				content: "<";
			}

			&::after {
				transition: all 0.3s ease;
				content: "/>";
				margin-left: 5px;
			}

			@media (min-width: $breakpoint-md) {
				&:hover {
					&::before {
						content: "<";
						margin-left: 5px;
					}
					&::after {
						margin-left: 10px;
					}
				}
			}
		}
	}

	&_description {
		max-width: 700px;
		margin-top: 50px;

		p {
			font-size: 18px;
			line-height: 25px;
		}
	}
}

.experience {
	padding: 100px 0;
	background-color: $colorWhite;

	&_inner {
		text-align: center;

		.uppercase {
			color: $colorBlack;
			font-size: 30px;
			line-height: 35px;
			max-width: 700px;
			font-weight: 700;
		}

		p {
			color: $colorBlack;
			max-width: 750px;
			margin: 0 auto;

			background-image: linear-gradient(100deg, $colorBlack, $colorPurple);
			background-size: 100%;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent; 
			-moz-text-fill-color: transparent;
		}
	}
}

.contacts {
	padding: 150px 0 50px;
	
	@media (max-width: $breakpoint-md) {
		padding: 80px 0 50px;
	}

	&_inner {
		display: flex;
		flex-direction: column;
		gap: 30px;

		h2 {
			background-image: linear-gradient(45deg, $colorWhite, $colorBlue);
			background-size: 100%;
			-webkit-background-clip: text;
			-moz-background-clip: text;
			-webkit-text-fill-color: transparent; 
			-moz-text-fill-color: transparent;
		}
	}

	&_list {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		gap: 20px 50px;

		margin-top: 50px;

		@media (max-width: $breakpoint-md) {
			margin-top: 40px;
		}

		li {
			display: block;
			position: relative;

			a {
				position: relative;

				font-size: 25px;

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;

					bottom: 0;
					left: 0;

					background-color: $colorWhite;
					transition: all 0.2s ease;
				}

				&:hover {
					&::after {
						width: 110%;
						background-color: $colorBiege;
					}
				}
			}
		}
	}
}