@import "../utils/variables.scss";

h2 {
	max-width: max-content;
}

.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.preview {
    min-height: calc(100vh - 200px);

	@media (max-width: $breakpoint-md) {
		min-height: unset;
		height: auto;
	}

	&_inner {
		display: flex;
		flex-direction: column;
	}

	&_grid {
		display: grid;	
		grid-template-columns: 550px 1fr;
		gap: 150px;
	
		@media (max-width: $breakpoint-xl) {
			gap: 80px;
		}
		@media (max-width: $breakpoint-lg) {
			grid-template-columns: 350px 1fr;
			gap: 50px;
		}
		@media (max-width: $breakpoint-md) {
			grid-template-columns: 1fr;
		}
	}

	&_content {
		display: flex;
		flex-direction: column;
		gap: 30px;

		margin-top: 150px;
		
		@media (max-width: $breakpoint-md) {
			margin-top: 50px;
		}
		@media (max-width: $breakpoint-sm) {
			margin-top: 20px;
		}
	}

	&_image {
		label {
			font-size: 15px;
			font-style: italic;
		}
	}

	&-photo {
		width: 100%;

		display: block;
	
		object-fit: cover;
		object-position: 100% 0%;

		@media (max-width: $breakpoint-md) {
			width: 350px;
		}
		@media (max-width: $breakpoint-xsm) {
			width: 100%;
		}
	}
	
	&-title {
		align-self: flex-end;

		h1 {
			font-size: 50px;
			line-height: 50px;

			&:hover {
				.inner {
					transform: rotate(12deg);
					color: #cea3e4;
				}
			}

			.line {
				font-size: inherit;
				line-height: inherit;
				display: block;
				margin-top: 5px;

				.inner {
					display: inline-block;
					font-size: inherit;
					line-height: inherit;

					transition: all 0.5s;
				}

				
			}
			.location {
				display: block;
				font-size: 15px;
				line-height: 25px;
				text-align: end;

				color: $colorGray;
			}
		}
	}
	&-description {
		align-self: flex-end;
		max-width: 650px;
		position: relative;
		top: -50px;
		backdrop-filter: blur(20px);

		@media (max-height: 1000px) {
			top: -180px;
		}
	
		@media (max-width: $breakpoint-xl) {
			padding: 20px;
			top: -100px;
		}
		@media (max-width: $breakpoint-lg) {
			margin-top: 100px;
			position: static;
			padding: 0;
		}
		@media (max-width: $breakpoint-md) {
			margin-top: 50px;
			backdrop-filter: none;
		}

		p {
			font-size: 30px;
			line-height: 40px;

			transition: all .3s;

			&:first-of-type {
				margin-bottom: 20px;

				&:hover {
					background-image: linear-gradient(45deg, $colorWhite, #6d35ab);
					@include gradient-text;
				}
			}

			&:last-of-type {
				margin-top: 20px;

				&:hover {
					background-image: linear-gradient(45deg, $colorWhite, #1351af);
					@include gradient-text;
				}
			}
		}
	}
}

.past {
	padding: 120px 0 0;

	&_inner {
		transition: all 0.3s ease;
	}

	&_item {
		height: auto !important;
		transition: all 0.2s ease;
		background-color: $colorWhite;

		padding: 90px 70px 90px 70px;

		@media (max-width: $breakpoint-xl) {
			padding: 70px 40px 40px 40px;
		}
		@media (max-width: $breakpoint-md) {
			padding: 50px 30px;
		}

		p,span,h3 {
			transition: color 0.3s ease;
			color: $colorBlack;
			font-size: 30px;
			line-height: 35px;
		}

		p {
			margin-top: 30px;
			max-width: 600px;

			@media (max-width: $breakpoint-xl) {
				max-width: 430px;
			}
		}

		span {
			font-style: italic;
			font-weight: 300;
			font-size: 18px;
			line-height: 25px;
		}

		&.job {
			@media (min-width: $breakpoint-md) {
				p:hover {
					background-image: linear-gradient(45deg, #56e05a, $colorBlack);
					@include gradient-text;
				}
			}
		}

		&.education {
			background-color: $colorEducation;

			p,span,h3 {
				color: $colorWhite;
			}

			@media (min-width: $breakpoint-md) {
				p:hover {
					background-image: linear-gradient(45deg, $colorWhite, #bababa);
					@include gradient-text;
				}
			}
		}
		&.hobbie {
			background-color: $colorPinkLight;

			@media (min-width: $breakpoint-md) {
				a:hover {
					img {
						transform: scale(1.2);
					}
				}
			}

			.link-with-logo {
				margin-top: 20px;
				display: flex;
				align-items: center;
				gap: 5px;

				img {
					transition: all .2s;
				}
			}
		}
		&.skills {
			background: center/cover url("/absolute-black.webp") no-repeat;
			background-attachment: fixed;

			p,span,h3, ul {
				color: $colorWhite;
			}

			.list {
				list-style: none;
				margin-top: 30px;
				display: flex;
    			flex-wrap: wrap;
				gap: 10px;

				li {
					font-size: 18px;
					line-height: 25px;
					position: relative;

					&:not(:last-of-type):after {
						content: "/";
						right: -5px;
						position: relative;
					}
				}
			}
		}
	}
}

.experience {
	padding: 150px 0;

	@media (max-width: $breakpoint-md) {
		padding: 80px 0;
	}

	&_inner {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: space-between;

		.uppercase {
			color: $colorWhite;
			font-size: 30px;
			line-height: 35px;
			font-weight: 700;
		}

		h2 {
			color: $colorWhite;
			max-width: 1000px;
			margin: 0 auto;

			background-image: linear-gradient(25deg, $colorWhite, $colorPurple);
			@include gradient-text;
		}
	}
}

.stack {
	padding: 50px 0 100px;
	position: relative;

	&_inner {
		display: grid;
		grid-template-columns: 1fr 2fr;

		@media (max-width: $breakpoint-lg) {
			grid-template-columns: 1fr 2.5fr;
		}

		@media (max-width: $breakpoint-md) {
			grid-template-columns: 1fr;
			gap: 30px;
		}
	}

	&_icons {
		position: relative;

		@media (max-width: $breakpoint-md) {
			display: none;
		}

		.logo {
			position: absolute;

			@media (max-width: $breakpoint-md) {
				position: relative;
			}
		}
	}

	&_content {
		padding-left: 100px;

		backdrop-filter: blur(3px);

		@media (max-width: $breakpoint-lg) {
			padding-left: 50px;
			background: #00000052;
		}
    	
		@media (max-width: $breakpoint-md) {
			padding-left: 0;
			background: #00000052;
		}

		h3 {
			&:not(:first-of-type) {
				margin-top: 30px;
			}
			margin-bottom: 30px;
		}

		p {
			max-width: 850px;
		}

		li {
			margin: 5px 0;
		}

		.tech {
			color: $colorTech;
		}

		ul {
			padding-left: 20px
		}
	}
}

.projects {
	background-color: $colorWhite;

	padding: 100px 0;

	@media (max-width: $breakpoint-md) {
		padding: 50px 0;
	}

	&_inner {
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			margin-bottom: 50px;

			font-size: 40px;
			line-height: 50px;

			color: $colorBlack;

			@media (max-width: $breakpoint-lg) {
				font-size: 30px;
				line-height: 40px;
			}
		}

		.project_items {
			display: flex;
			flex-direction: column;
			gap: 50px;

			.project_item {
				padding: 30px;
				border-radius: 10px;

				display: grid;
				grid-template-columns: 1fr 2fr;
				gap: 50px;

				@media (max-width: $breakpoint-lg) {
					grid-template-columns: 1fr;
					gap: 30px;
					padding: 0;
				}

				h3, li, span {
					color: $colorBlack;
				}

				h3 {
					background-image: linear-gradient(25deg, #000000, #716ee1);
					@include gradient-text;
				}

				.tech {
					font-weight: 800;
				}

				ul {
					padding-left: 20px;
					display: flex;
					flex-direction: column;
					gap: 20px;

					@media (max-width: $breakpoint-lg) {
						padding-left: 0;
					}

					li {
						list-style-type: none;
					}
				}
			}
		}
	}
}

.contacts {
	padding: 150px 0 50px;
	
	@media (max-width: $breakpoint-md) {
		padding: 80px 0 50px;
	}

	&_inner {
		display: flex;
		flex-direction: column;
		gap: 30px;

		@media (max-width: $breakpoint-sm) {
			gap: 15px;
		}

		h2 {
			background-image: linear-gradient(45deg, $colorWhite, $colorOrange);
			@include gradient-text;
		}
	}

	&_list {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		gap: 20px 50px;

		margin-top: 20px;

		@media (max-width: $breakpoint-sm) {
			margin-top: 0px;
		}

		li {
			display: block;
			position: relative;

			a {
				position: relative;

				font-size: 25px;
				
				@media (max-width: $breakpoint-sm) {
					font-size: 18px;
					line-height: 25px;
				}

				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;

					bottom: 0;
					left: 0;

					background-color: $colorWhite;
					transition: all 0.2s ease;
				}

				&:hover {
					&::after {
						width: 110%;
						background-color: $colorBiege;
					}
				}
			}
		}
	}
}