@import "@/utils/variables.scss";

.header {
    padding: 20px 30px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;

    &_title {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: 0;
        }

        .job-position {
            font-size: 18px;
            line-height: 40px;
            text-transform: uppercase;

            @media (max-width: $breakpoint-md) {
                font-size: 14px;
            }
        }
    }
    &-logo {
        span {
            font-size: 18px;
            line-height: 25px;
            font-weight: 700;
        }
    }

    &_navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 15px;

        border-bottom: 1px solid #e4e4e4;
    }
    &_menu {
        ul {
            vertical-align: baseline;
            list-style: none;

            li {
                font-size: 18px;
                line-height: 25px;

                &:nth-of-type(1) a {
                    &:hover {
                        color: $colorBlue;
                    }
                }
                &:nth-of-type(2) a {
                    &:hover {
                        color: $colorPurple;
                    }
                }
                &:nth-of-type(3) a {
                    &:hover {
                        color: $colorBiege;
                    }
                }

                a {
                    font-size: inherit;
                    line-height: inherit;
                }

                display: inline-block;
                margin-right: 15px;
                text-transform: lowercase;

                @media (max-width: $breakpoint-sm) {
                    display: inherit;
                }
            }
        }
    }
}