// breakpoints

$breakpoint-xsm: 450px;
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-mobile-header: 1200px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


$colorBiege: #FBCBA7;
$colorPinkLight: #ffe9e9;
$colorWhite: #ffffff;
$colorGray: #bcbcbc;
$colorPurple: #e53c89;
$colorBlue: #0489ff;
$colorOrange: #e18433;
$colorGreen: #00c328;
$colorBlack: #000;
$colorBlackBlueLight: #000828;
$colorTech: #737373;
$colorEducation: #46488d;

@mixin gradient-text {
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}