// breakpoints

$breakpoint-xsm: 450px;
$breakpoint-sm: 576px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-mobile-header: 1200px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


$colorBiege: #FBCBA7;
$colorWhite: #ffffff;
$colorPurple: #e53c89;
$colorBlue: #0489ff;
$colorGreen: #00c328;
$colorBlack: #000;
$colorBlackBlueLight: #000828;